.places {
  text-align: center;
}
.places h1 {
  font-size: 30px;
  text-align: left;
}
article {
  width: 390px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  min-height: 250px;
  vertical-align: top;
}
article h2 {
  font-size: 30px;
  margin-top: 5px;
}
/* structure within boxed lists of places */
div.price_by_night {
color: #FF5A5F;
  border: 4px solid #FF5A5F;
  border-radius: 100%;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  position: relative;
  float: right;
  top: -80px; 
}
div.information {
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
div.max_guest,
div.number_rooms,
div.number_bathrooms {
  line-height: 140px;
  width: 100px;
  height: 100%;
  display: inline-block;
  background-position: 50% 5px;
  background-repeat: no-repeat;
}
.max_guest {
  background-image: url("../images/icon_group.png");
}
.number_rooms {
  background-image: url("../images/icon_bed.png");
}
.number_bathrooms {
  background-image: url("../images/icon_bath.png");
}
div.user,
div.description {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
/*Amenities and Reviews*/

article div.amenities, 
article div.reviews  {
  width: 100%;
  text-align: left;
  margin-top: 50px;
}

article div.amenities h2,
article div.reviews h2 {
  font-size: 16px;
  border-bottom: 1px solid #DDDDDD;
}
article div.amenities ul li .tv,
article div.amenities ul li .wifi,
article div.amenities ul li .pets {
  padding-left: 30px;
  width: 100px;
  height: 100%;
  line-height: 20px;
	background-position: 20px 50%;
}
article div.amenities ul li .tv {
  background: url(../images/icon_tv.png);
  background-repeat: no-repeat;
  background-size: 20px;
}
article div.amenities ul li .wifi {
  background: url(../images/icon_wifi.png);
  background-repeat: no-repeat;
  background-size: 20px;
}
article div.amenities ul li .pets {
  background: url(../images/icon_pets.png);
  background-repeat: no-repeat;
  background-size: 20px;
}

article div.reviews ul li h3 {
  font-size: 14px;
}
article div.reviews ul li p {
  font-size: 12px;
}